html, body {
    margin: 0;
    padding: 0;
  }

.bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 176, 190);
    z-index: 1; 
}

#FaceArea{
    position: relative;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    background: rgb(255, 176, 190);
    z-index: 2;
}

#LeftEb{
    position: absolute;
    top: 6%;
    left: 8%;
    z-index: 3;
}

#LeftEb:hover{
    transform: scale(1.5);
}

#RightEb{
    position: absolute;
    top: 6%;
    right: 8%;
    z-index: 3;
}

#LeftEb:hover{
    transform:scale(1.2);
    cursor: pointer;
}

#RightEb:hover{
    transform:scale(1.2);
    cursor: pointer;
}

#LeftEye{
    position:absolute;
    top: 20%;
    left: 12%;
    z-index: 3;
}

#LeftEye:hover{
    transform: scale(1.5);
    z-index: 4;
    cursor: pointer;
}

#RightEye{
    position: absolute;
    top: 21%;
    right: 12%;
    z-index: 3;
}

#RightEye:hover{
    transform: scale(1.5);
    z-index: 4;
    cursor: pointer;
}

#Mouth{
    position: absolute;
    top: 57%;
    left: 23%;
    z-index: 3;
}

#Mouth:hover{
    transform:scale(1.2);
    cursor: pointer;
}

#Sunglasses{
    position:absolute;
    top: 40%;
    left: 50%;
	transform: translate(-50%, -50%);
    z-index: 4;
}

#Sunglasses {
    cursor: pointer;
}

#Nose{
    position: absolute;
    top: 30%;
    left: 42%;
}

#Nose:hover{
    transform:scale(1.2);
    cursor: pointer;
}

#loop {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 3%;
    right: 2%;
    background-color: pink;
    border-radius: 50%;
    z-index: 5;
}

#loop:hover{
    content: url(images/main.jpg);
    width: 50px;
    height: 50px;
    transition: 0.5s black;
  }