html, body{
  border: 0;
  margin: 0;
  background-color:rgb(173, 219, 255);
  font-family: 'Lato', sans-serif;
}

#wholewrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.textwrap {
  /* background-color: #711bab; */
  position: absolute;
  width: 35%;
  top: 23%;
  left: 12%;
}


.bgwrap{
  position: absolute;
  left: 68%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bgwrap img {
  width: 100%;
}


.CheckContainer {
  width: 35%;
  height: 100%;
  /* background-color: #711bab; */
  }


.BeforeCheck{
  position: absolute;
  left: 68%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.BeforeCheck img {
  width: 100%;
  opacity: 0;
} 

#BeeCheckbox:checked ~ #wholewrap > .ImageContainer > .BeforeCheck > .bee {
  opacity: 1;
}

 #CliffCheckbox:checked ~ #wholewrap > .ImageContainer > .BeforeCheck > .cliff {
  opacity: 1;
}

#GunCheckbox:checked ~ #wholewrap > .ImageContainer > .BeforeCheck > .gun {
  opacity: 1;
}

#PomeBackCheckbox:checked ~ #wholewrap > .ImageContainer > .BeforeCheck > .PomegranateBack {
  opacity: 1;
}

#PomeFrontCheckbox:checked ~ #wholewrap > .ImageContainer > .BeforeCheck > .PomegranateFront {
  opacity: 1;
}

#WomanCheckbox:checked ~ #wholewrap > .ImageContainer >  .BeforeCheck > .woman {
  opacity: 1;
}

#BeeCheckbox:checked ~ #wholewrap .textwrap .BeeLabel .yellow {
  color: #e3d50b;
  /* text-decoration: underline; */
}

#BeeCheckbox:checked ~ #wholewrap .textwrap .BeeLabel .black {
  color: black;
  /* text-decoration: underline; */
}

#CliffCheckbox:checked ~ #wholewrap .textwrap .CliffLabel .brown {
  color: #AC8832;
  /* text-decoration: underline; */
}

#GunCheckbox:checked ~ #wholewrap .textwrap .GunLabel .bloodred {
  color: red;
  /* text-decoration: underline; */
}

#PomeBackCheckbox:checked ~ #wholewrap .textwrap .PomeBackLabel .purple {
  color: #711bab;
  /* text-decoration: underline; */
}

#PomeBackCheckbox:checked ~ #wholewrap .textwrap .PomeBackLabel .green {
  color: #0a800c;
  /* text-decoration: underline; */
}

#PomeBackCheckbox:checked ~ #wholewrap .textwrap .PomeBackLabel .red {
  color: #911e0a;
  /* text-decoration: underline; */
}

#PomeFrontCheckbox:checked ~ #wholewrap .textwrap .PomeFrontLabel .red {
  color: #911e0a;
  /* text-decoration: underline; */
}

#WomanCheckbox:checked ~ #wholewrap .textwrap .WomanLabel .blue {
  color: #030fa1;
  /* text-decoration: underline; */
}

#YesCheckbox:checked ~ #wholewrap .textwrap .yesLabel {
  color: #0a800c;
}

#YesCheckbox:checked ~ #wholewrap .textwrap .yesLabel .hide {
  display: block;
}

#NoCheckbox:checked ~ #wholewrap .textwrap .noLabel {
  color: rgb(101, 73, 73);
}




.box .BeforeHover {
  position: absolute;
  left: 68%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box .BeforeHover img {
width: 100%;
}

.center {
  opacity: 0%;
  transition-delay: 2s;
  display: block;
} 

.ImageContainer {
  background-color:#0a800c;
  }
  
  .ImageContainer:hover .fish{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: ease-in-out 0.5s;
  }
  
  .ImageContainer:hover .tiger1{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: 0.2s ease-in-out 0.3s; 
  }
  
  .ImageContainer:hover .tiger2{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: 1s ease-in-out 0.5s;
  }
  
  .ImageContainer:hover .PomegranatePieces{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: 0s;
    animation: drop 0.9s;
    animation-iteration-count: infinite;
    transform-origin: center;
  }
  
  @keyframes drop {
    0% { transform: translate(0px, 0px)}
    20% { transform: translate(0px, 18px)}
    40% { transform: translate(4px, 0px)}
    60% { transform: translate(0px, 10px)}
    80% { transform: translate(4px, 0px)}
    90% { transform: translate(0px, 10px)}
    100% { transform: translate(0px, 0px)}
    }

    .hide {
      display: none;
      color:#0a800c;
      z-index: 11;

    }

    .checkbox {
      cursor: pointer;
      z-index: 11;
    }


    input[type="checkbox"] {
      visibility: hidden;
    }

    label {
      font-size: 18px;
      z-index: 11;
    }

    p {
      font-size: 20px;
      z-index: 11;
    }

    ul {
      display: block;
    }

    #wholewrap {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 1000px) {
      #wholewrap {
        display: flex;
        flex-direction: column;
      }
    }