html {
  border: 0;
  margin: 0;
  background-color:rgb(173, 219, 255);
}

.wholewrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.bgwrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bgwrap img {
  width: 100%;
}


.CheckContainer {
  width: 100vw;
  height: 100vh;
  }


.box > .BeforeCheck{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box > .BeforeCheck img {
  width: 100%;
  opacity: 0;
} 

#BeeCheckbox:checked ~ .CheckContainer > .box > .BeforeCheck > .bee {
  opacity: 1;
}

#CliffCheckbox:checked ~ .CheckContainer > .box > .BeforeCheck > .cliff {
  opacity: 1;
}

#PomeBackCheckbox:checked ~ .CheckContainer > .box > .BeforeCheck > .PomegranateBack {
  opacity: 1;
}

#PomeFrontCheckbox:checked ~ .CheckContainer > .box > .BeforeCheck > .PomegranateFront {
  opacity: 1;
}

#WomanCheckbox:checked ~ .CheckContainer > .box >  .BeforeCheck > .woman {
  opacity: 1;
}

#CliffCheckbox:checked ~ .CliffLabel {
  color: rgb(255, 213, 0);
  /* text-decoration: underline; */
}


.box .BeforeHover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box .BeforeHover img {
width: 100%;
}

.center {
  opacity: 0%;
  transition-delay: 2s;
  display: block;
} 

.HoverContainer {
  width: 40vw;
  height: 80vh;
  margin-left: 12vw;
  margin-top: 10vh;
  }
  
  .HoverContainer:hover .fish{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: ease-in-out 0.5s;
  }
  
  .HoverContainer:hover .tiger1{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: 0.2s ease-in-out 0.3s; 
  }
  
  .HoverContainer:hover .tiger2{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: 1s ease-in-out 0.5s;
  }
  
  .HoverContainer:hover .PomegranatePieces{
    display: block;
    opacity: 100%;
    z-index: 10;
    transition: 0s;
    animation: drop 0.9s;
    animation-iteration-count: infinite;
    transform-origin: center;
  }
  
  @keyframes drop {
    0% { transform: translate(0px, 0px)}
    20% { transform: translate(0px, 18px)}
    40% { transform: translate(4px, 0px)}
    60% { transform: translate(0px, 10px)}
    80% { transform: translate(4px, 0px)}
    90% { transform: translate(0px, 10px)}
    100% { transform: translate(0px, 0px)}
    }

    .checkbox {
      cursor: pointer;
    }

    /* you can even hide the checkbox
    input[type="checkbox"] {
      visibility: hidden;
    } */